body {
background-color: #d0e0e3;
}

.image-bottom{
margin-top:50px
}

h1{
color: black;
animation: fade 4s ease-in-out;
font-size: 0.8em
}

@keyframes fade{
from { opacity: 0; }
to { opacity: 1; }
}

.image-container{
width: 100%;
height: 60vh;
position: relative;
}

.moving-image {
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
transition: left 4s ease, transform 2s ease;
}

body.loaded .moving-image{
left: 50%;
transform: translate(-50%, -50%);
}